<h1><%= t 'activerecord.models.user' %> <%= t('button.show') %></h1>


<p>
  <strong><%= t 'activerecord.attributes.user.name' %>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.user.postal_code' %>:</strong>
  <%= @user.postal_code %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.user.address' %>:</strong>
  <%= @user.address %>
</p>

<p>
  <strong><%= t 'activerecord.attributes.user.description' %>:</strong>
  <%= @user.description %>
</p>

<%= link_to t('button.back'), books_path %>
