<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        <%= t 'activerecord.models.user' %> : <strong><%= current_user.name %></strong>
        <%= link_to t('button.edit'), edit_user_registration_path, class: 'navbar-link' %> |
        <%= link_to t('button.logout'), destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
      <% else %>
        <%= link_to t('button.sign_up'), new_user_registration_path, class: 'navbar-link'  %> |
        <%= link_to t('button.login'), new_user_session_path, class: 'navbar-link'  %>
      <% end %>
    </p>

    <div>
      <% if I18n.locale.to_s == "en" %>
        English <%= link_to('日本語', :locale => 'ja') %>
      <% else %>
        <%= link_to('English', :locale => 'en') %> 日本語
      <% end %>
    </div>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
